/*GLOBAL STYLES*/
html {
  position: relative;
  min-height: 100%;
  font-size: 13px;
}
body {
  margin: 0;
  padding: 0;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}
body {
	padding-top: 2em;
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	color: #5a5a5a;
} 
h1 {
	font-size: 2.6875;
	font-weight: 300;
	color: #192954;
	text-transform: uppercase;
}
h2 {
	font-size: 2em;
	font-weight: 300;
	color: #3a3a3b;
}
h3 {
	font-size: 2em;
	font-weight: 300;
	color: #192954;
	text-transform: uppercase;
}
p {
	font-size: 1em;
	color: #444;
}
.bold {
	color: #192954;
	font-weight: 600;
}
.right {
	text-align: right;
}
.mulPara {
	margin-bottom: 30px;
}
.paraLink  a {
	font-weight: 700;
	color: #192954;
	text-decoration: none;
}
.center {
	text-align: center;
}
.btn {
	font-size: 0.75em;
	border-radius: 0;
	text-transform: uppercase;
}
.nowrap {
	white-space: nowrap;
}

.btn-lg {
	border:none;
	border-radius: none;
}

.btn-primary {
    background: #192954;
    color: #fff;
}

.btn-primary:hover {
  color: #fff;
  background-color: #192954;
  border-color: none !important;
}

br {
   display: block;
   margin: 20px 0;
}
a: hover {
	text-decoration: none;
}
.top-buffer { margin-top:20px; }
.mid-buffer { margin-top:50px; }

.minHeight {
	min-height: 284px;
}
/* Clear fix hack */
.clearfix:after {
 content: ".";
 display: block;
 clear: both;
 visibility: hidden;
 line-height: 0;
 height: 0;
}
.italic {
	font-style: italic;
	font-weight: 400;
}
/*GLOBAL STYLES*/

/*NAV ELEMENTS*/

@media (max-width: 768px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
  	font-size: 1em;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: 1px;
  }
  .collapse.in{
      display:block !important;
  }
}

.navbar-default {
  background-color: #fff !important;
  border: none;
}
.navbar-default .navbar-brand {
  color: #5a5a5a;
}

.navbar-default .navbar-toggle {
	border: none;
	background-color: #fff;
}
.navbar-default .navbar-nav > .active > a {
 	font-weight: 800;
      color: #192954;
      background: #fff;
 }
 .navbar-default .navbar-nav > .active > a:hover {

      background: #fff;
 }
 .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #fff;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: none;
}
.navbar-default .navbar-toggle {
    border-color: none;
}
.carousel-control.left, .carousel-control.right {
	background-image: none !important;
}
.navbar-brand {
	vertical-align: top;
	line-height: 5px;
	padding-top: 0px;

}
.navbar-brand p{
	padding-top: 20px;
	color: #192954;
}
/*NAV ELEMENTS*/


/*CAROUSEL*/

.carousel-caption p {
	font-weight: 400;
	font-size: 2.6875em;
	color: #fff;
}
.carousel-caption h1 {
	color: #fff;
	font-weight: 800;
	text-transform: uppercase;
	font-size: 2.8125em;
}
/*CAROUSEL*/

/*MAIN CONTENT*/

/* Sidebar modules for boxing content */
.box {
	line-height:18px;
	margin-top:30px;
	font-size:1em;
	color:#444444;
	text-align:center;
	background:#fff;
	border-radius:6px;
	-webkit-border-radius:6px;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.13);
	padding:40px 20px 29px 20px;
}
.box h1 {
	text-transform: uppercase;
	color: #192954;
	font-weight: 700;
	font-size: 1.33em;
}
.box p {
	font-size:1em !important;
	color:#444444 !important;
	line-height:18px;
	padding:0 0 10px 0 !important;
	margin:0 !important;
}
.box--no-border {
	border:0;
	box-shadow: none;
}
.groupIcon {
	width:76px;
	height:76px;
	line-height:76px;
	display:block;
	margin:0 auto 28px auto;
	border:0;
	font-size:33px;
	color:#ffffff;
	font-family: 'FontAwesome';
	padding:0;
	text-align:center;	
	border-radius:50%;
	-webkit-border-radius:50%;
	background-color:#192954;	
}
.sidebar-module {
  padding: 15px;
  margin: 15px -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #eee;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}
.form-control .riders {
	margin-top: 10px;
}
#sidebar {
	background-color: #eee;
	padding: 0 20px;
}
#sidebar h1 {
	font-size: 1.5em;
	padding-top: 10px;
}
.imgBox {
	justify-content: center;
	color:#444444;
	background:#fff;
	border-radius:6px;
	-webkit-border-radius:6px;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.13);
	padding:10px;
}
.fullWidth {
	background-color: #192954;
	width: 100%;
	padding: 30px 50px;
	margin-top: 80px;
}
.fullWidth p{
	margin-bottom:13px;
	padding-top:100px;
	padding-bottom:0;
	color: #fff;
	font-size: 2.125em;
	font-weight: 300;
	line-height: 1.25em;
	text-align: center;
}
.fullWidth h1 {
	line-height:45px;
	color:#fff;
	font-weight:800;
	font-size: 3.75em;
	margin:0;
	padding:0 0 7px 0;
	text-transform:uppercase;
	text-align: center;
	padding-bottom: 100px;
}
.fa-ul {
	font-size: 1em;
}
.fa-ul i {
	color: #192954;
}
.fa-ul li {
	padding-bottom: 10px;
}
.goals > .col-md-6,
.goals > .col-md-4,
.goals > .col-md-3 {
	min-height: 261px;
}

/* TABBED CONTENT*/

@media screen and (min-width: 992px) {
  .the-icons li {
    width: 12.5%;
  }
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #192954;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
.nav-tabs > li > a:hover {
	background-color: #192954;
	color: #fff;
}
  
.the-buttons > li {
  float: left;
  height: 80px;
  padding: 10px;
  border: 1px solid #ddd;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 -1px -1px 0;
}
  
.the-icons .glyphicon {
  display: block;
  margin: 5px auto;
  vertical-align: middle;
  margin-right: 3px;
  font-size: 24px;
}

.the-icons li {
  float: left;
  width: 100px;
  height: 110px;
  padding: 10px;
  border: 1px solid #ddd;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
}

.the-icons, .the-buttons {
	list-style:none;
}

.the-icons .glyphicon {
	display:inline;
}
.dets{
	color: #192954;
	font-weight: 600; 
}
.tab-content h4{
	font-weight: 600;
}

/* TABBED CONTENT*/
/*MAIN CONTENT*/

/*FOOTER*/
.social p {
	color: #fff;
	font-weight: 300;
}
.social  li {
	list-style: none;
}
.social a {
	color: #fff;
	text-decoration: none;
	display: inline-block;
	font-size: 2em;
	padding-right: 23px;
}
#phoneIcon, #number{
    height: 33px;
    display: inline-block;
    vertical-align: bottom;
}
.social a:hover{
	color: #575f74;
}
.contact p {
	color: #fff;
	font-weight: 300;
	font-size: 1em;
}
.contact  li {
	list-style: none;
}
.contact a {
	color: #fff;
	text-decoration: none;
	display: inline-block;
	font-size: 2em;
	padding-right: 23px;
}
#number {
	font-size: 0.5em !important;
	line-height: 2.3em;
}
.footer-distributed{
	background-color: #192954;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px;
	margin-top: 80px;
}
.clubDetails p {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: #fff;
	font-weight: 300;
	margin-top: 70px;
	font-size: 1em;
}
/* NEWS AND ARTICLES PAGE */

.newsTitle h2 {
    font-size: 2em;
    font-weight: 400;
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;
    color: #192954;
}

.contactBlue p {
	color: #192954;
	font-weight: 300;
	font-size: 1em;
}
.contactBlue  li {
	list-style: none;
}
.contactBlue a {
	color: #192954;
	text-decoration: none;
	display: inline-block;
	font-size: 2em;
	padding-right: 23px;
}


/* NEWS AND ARTICLES PAGE */


/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
.copyRight {
	text-align: center;
}
/*FOOTER*/




/* MEDIA QUERIES */
@media (max-width: 768px) { /* IPAD */
/*body{
	font-size: 80%;
}*/
.box p {
	line-height: 12px;
}
.box {
	padding:20px 40px 10px 40px;
	margin: 0px 40px 20px 40px;
	min-height: 150px;
}
.fullWidth p{
	padding-top:10px;
	text-align: center;
}
.fullWidth h1{
	padding-bottom:10px;
	text-align: center;
}
}
@media (max-width: 480px) { /* IPHONE */
/*body{
	font-size: 75%;
}*/
.box p {
	line-height: 12px;
}
.box {
	padding:20px 10px 10px 10px;
	margin: 0px 10px 20px 10px;
	min-height: 250px;
}
.btn {
	font-size: 0.75em;
}
.carousel-caption p {
	font-weight: 400;
	font-size: 1.1em;
	color: #fff;
}
.carousel-caption h1 {
	color: #fff;
	font-weight: 800;
	text-transform: uppercase;
	font-size: 1.4em;
}
.carousel-indicators li {
	width: 5px;
	height: 5px;
}
.carousel-indicators .active {
	width: 5px;
	height: 5px;
}
.fullWidth p{
	padding-top:10px;
	text-align: center;
}
.fullWidth h1{
	padding-bottom:10px;
	text-align: center;
}

}

@media (max-width: 320px) { /* SMALL PHONE */
/*body{
	font-size: 60%;
}*/
.fullWidth p{
	padding-top:10px;
	text-align: center;
}
.fullWidth h1{
	padding-bottom:10px;
	text-align: center;
}
}
/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    .goals > .col-md-6 {
		min-height: initial;
	}
	.mulPara {
	margin-bottom: 10px;
}
.social{
	text-align: center;
}
.contact{
	text-align: center;
}
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
 .goals > .col-md-6 {
		min-height: 100px;
	}
	.mulPara {
	margin-bottom: 10px;
}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
 .goals > .col-md-6 {
		min-height: initial;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

